<section class="about">
    <div class="container about-container">
        <div class="about-content">
            <h2 class="about-title">Long headline on two lines to turn your visitors into users and achieve more
            </h2>
            <p class="about-after-title">Separated they live in Bookmarks right at the coast of the famous
                Semantics, large language ocean</p>
            <ul class="about-list">
                <li class="about-item">Showcase and embed your work with</li>
                <li class="about-item">Publish across social channels in a click</li>
                <li class="about-item">Sell your videos worldwide</li>
                <li class="about-item">Embed your work with</li>
            </ul>
        </div>
        <img class="shelf" src="../img/shelf with dishes.jpg" alt="shelf with dishes" width="550" height="428">
    </div>
</section>