<footer class="footer">
        <div class="container footer-container">
        <a class="footer-logo link" href="">BRAND <sup class="footer-logo-sup">tm</sup></a>
        
        <ul class="footer-list list">
            <li><p class="footer-title">First column</p></li>
            <li class="footer-item">First page</li>
            <li class="footer-item">Second page</li>
            <li class="footer-item">Third</li>
            <li class="footer-item">Fourth</li>
        </ul>
        
        <ul class="footer-list list">
            <li><p class="footer-title">Second</p></li>
            <li class="footer-item">Fifth page</li>
            <li class="footer-item">Sixth page</li>
            <li class="footer-item">Eighth</li>
            
        </ul>
        
        <ul class="footer-list list">
            <li><p class="footer-title">Third</p></li>
            <li class="footer-item">Fifth page</li>
            <li class="footer-item">Sixth page</li>
            <li class="footer-item">Eighth</li>
            
        </ul>
        
        <div class="footer-input">
        <p class="footer-title">Subscribe</p>
        <form class="form">
        <input class="input"
        aria-label="email"
        type="email"
        name="mail" 
        placeholder="Enter email">
        <svg class="footer-icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-Icon"></use>
        </svg>
        <p class="input-after-text">Join our newsletter to stay up to date on features and releases</p>
        </form>
        </div>
        </div>
        
    </footer>