<!-- <header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav>
</header> -->

<header class="header">
  <div class="container container-hd">
    <a class="header-logo link" href="">BRAND<sup class="header-logo-sup">tm</sup></a>
    <nav class="header-nav">
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="">Link 1</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">Link 2</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">Link 3</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">Link 4</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">Link 5</a>
        </li>
      </ul>
    </nav>

    <button class="header-btn-ham" type="button">
      <svg width="25" height="25">
        <use href="../img/symbol-defs.svg#icon-Group-12"></use>
      </svg>

    </button>


    <button class="header-btn" type="button">Action</button>
  </div>
</header>

