<section class="hero">
    <div class="container hero-container">
        <div class="hero-content">
            <h1 class="hero-title">Medium length display headline</h1>
            <p class="hero-after-title">Separated they live in Bookmarks right at the coast of the famous Semantics,
                large language</p>
            <div class="btn-text">
                <button class="hero-btn" type="button">Action</button>
                <p class="hero-btn-right-text">5,000 people like you have purchased this product!</p>
            </div>
        </div>
        <img src="../img/room.jpg" alt="room" width="553" height="428">
    </div>
</section>