<section class="review">
    <div class="container swiper review-container">

        <h2 class="hidden">review</h2>
        <ul class="review-list swiper-wrapper list">
            <li class="review-item swiper-slide">
                <p class="review-text">“A testimonial describing what the person thinks about this service, product
                    or startup in general.”</p>

                <img class="picture" src="../img/Image-1.jpg" alt="">

                <h3 class="review-title">Name Surname</h3>
                <div class="social-grup">
                    <p class="review-after-title">Description</p>
                    <ul class="social-list list">
                        <li class="social-item">
                            <a href="" class="social-link">
                                <svg width="16" height="16">
                                    <use href="../img/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="" class="social-link">
                                <svg width="16" height="16">
                                    <use href="../img/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="review-item swiper-slide">
                <p class="review-text">“A testimonial describing what the person thinks about this service, product
                    or startup in general.”</p>
                <img class="picture" src="../img/Image-2.jpg" alt="">
                <h3 class="review-title">Name Surname</h3>
                <div class="social-grup">
                    <p class="review-after-title">Description</p>
                    <ul class="social-list list">
                        <li class="social-item">
                            <a href="" class="social-link">
                                <svg width="16" height="16">
                                    <use href="../img/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="" class="social-link">
                                <svg width="16" height="16">
                                    <use href="../img/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="review-item swiper-slide">
                <p class="review-text">“A testimonial describing what the person thinks about this service, product
                    or startup in general.”</p>
                <img class="picture" src="../img/Image-3.jpg" alt="">
                <h3 class="review-title">Name Surname</h3>
                <div class="social-grup">
                    <p class="review-after-title">Description</p>
                    <ul class="social-list list">
                        <li class="social-item">
                            <a href="" class="social-link">
                                <svg width="16" height="16">
                                    <use href="../img/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="" class="social-link">
                                <svg width="16" height="16">
                                    <use href="../img/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


    </div>
</section>