.header {
  padding-top: 17px;
  padding-bottom: 17px;
}
.container-hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-weight: 900;
  font-size: 25px;
  line-height: 1.04;
  text-transform: uppercase;
  letter-spacing: -0.440237px;
  color: var(--primari-text-color);
}
.header-list {
  display: flex;
  gap: 24px;
}
.header-logo-sup {
  font-size: 8.21776px;
  line-height: 1.13;
  letter-spacing: -0.146746px;
  vertical-align: super;
}
.header-nav {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.1px;
}
.header-link {
  color: var(--primari-text-color);
}
.header-link:hover,
.header-link:focus {
  color: aqua;
}
.header-btn {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  background-color: var(--primari-text-color);
  border-radius: 32px;
}
.header-btn:hover,
.header-btn:focus {
  color: var(--primari-text-color);
  background-color: var(--secondary-text-color);
}
