.header {
  padding-top: 17px;
  padding-bottom: 17px;
}
.container-hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  position: relative;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.04;
  text-transform: uppercase;
  letter-spacing: -0.440237px;
  color: var(--primari-text-color);
}
.header-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-logo-sup {
  position: absolute;
  top: 2px;
  font-size: 8.21776px;
  line-height: 1.13;
  letter-spacing: -0.146746px;
  vertical-align: super;
}
.header-nav {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.1px;
}
.header-link {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  color: var(--primari-text-color);
}
.header-item:hover,
.header-item:focus {
  transform: scale(1.5);
}
.header-btn {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  background-color: var(--primari-text-color);
  border-radius: 32px;
  border: 1px solid var(--primari-text-color);
}
.header-btn:hover,
.header-btn:focus {
  color: var(--primari-text-color);
  background-color: var(--secondary-text-color);
  border: 0.5px solid var(--primari-text-color);
}
@media screen and (max-width: 743px) {
  .header-nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .header-btn-ham {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
  }
}
@media screen and (min-width: 744px) {
  .header-btn-ham {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .container-hd {
    max-width: 1376px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
