/* .container-hd {
  width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  border: 1px solid tomato;
} */
/* .container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  border: 1px solid tomato;
} */

/* HERO */
/* .hero-container {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 114px;
} */
/* .hero-content {
  width: 457px;
  height: 288px;
  padding-top: 64px;
  padding-bottom: 114px;
} */

/* .hero-title {
  margin-bottom: 24px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: -1px;
} */

/* ADVANTAGES */

/* ABOUT */

/* REVIEW */
/* .review-container {
  padding-top: 96px;
  padding-bottom: 124px;
} */
/* .review-list {
  display: flex;
  gap: 30px;
} */

/* .swiper {
  width: 900px;
  height: 500px;
}
.image-slider {
  padding: 30px 0 70px 0;
}
.image-wrapper {
  text-align: center;
}
img {
  max-width: 100%;
}

.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after {
  color: blueviolet;
  font-size: 90px;
} */

/* Custom button  */

/* .swiper-button-next,
.swiper-button-prev {
  position: static;
  margin-left: 30px;
  display: inline-block;
}
.swiper-button-next::after {
  content: "⇢";
  font-size: 40px;
  color: #be09d2;
}
.swiper-button-prev::after {
  content: "⇠";
  font-size: 40px;
  color: #be09d2;
} */

/* .image-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #be09d2;
} */

/* HERO BOTTOM */
