:root {
  --primari-text-color: #000000;
  --secondary-text-color: #ffffff;
}
.container {
  max-width: 327px;
  padding: 0 24px;

  border: 1px solid tomato;
}

@media screen and (min-width: 744px) {
  .container {
    max-width: 696px;
    border: 1px solid yellow;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1140px;
    padding-left: 150px;
    padding-right: 150px;
    border: 1px solid teal;
  }
}
